<launch>
<env name="ROS_MASTER_URI" value="http://192.168.1.20:11311"/> 
<machine name="000953-WS.local" address="192.168.1.20" user="kc" env-loader="~/sandbox/rosenvloader.sh" timeout="10.0" default="true" />
<machine name="raspberrypi" address="192.168.1.28" user="pi" env-loader="/home/pi/rosenv.sh" timeout="10.0" default="never" />
<node pkg="cv_camera" type="cv_camera_node" name="cv_camera"  machine="raspberrypi" respawn="true" output="screen">
	 <remap from="/cv_camera/image_raw" to="/mycamera/image_raw" />
</node>
<node pkg="image_proc" type="image_proc" name="image_rectifier"  machine="raspberrypi" respawn="true" output="screen" >
	<rosparam ns="mycamera" />
</node>
<node pkg="image_view" type="image_view" name="tb_imageviewer"  machine="000953-WS.local" respawn="true" output="screen">
	<remap from="/image" to="/mycamera/image_raw" />
</node>
<node pkg="motioncontroller" type="motioncontroller_node.py" name="remote_robot_server" machine="raspberrypi" respawn="false" output="screen" />
<node pkg="balltracker" type="tests.py" name="command_tester"  machine="000953-WS.local" respawn="true" output="screen" />
<node pkg="keyboard" type="keyboard" name="teleop_keystrokes"  machine="000953-WS.local" respawn="true" output="screen" />
<node pkg="sensehat_publisher" type="sensehat_publisher.py" name="sensehat_imu_data"  machine="raspberrypi" respawn="true" />
</launch>
